:root {
  /* text */
  --blue-logo-color-header: rgb(33, 150, 243, 1);
  --black-logo-color: rgb(0, 0, 0, 1);
  --black-text: rgb(33, 33, 33, 1);
  --grey-text: rgb(117, 117, 117, 1);
  --white-text: rgb(255, 255, 255, 1);
  --white-text-tr: rgb(255, 255, 255, 0.6);

  /* backgroung */
  --white-backgroung-header: rgb(255, 255, 255, 1);
  --grey-background-hero: rgb(47, 48, 58, 1);
  --blue-button: rgb(33, 150, 243, 1);
  --light-grey-section-color: rgb(245, 244, 250, 1);

  --center-border: rgb(236, 236, 236, 1);
  --card-outline: rgb(238, 238, 238, 1);

  --standart-margin: 30px;

  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* container */

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;

  margin-left: auto;
  margin-right: auto;
}

/* header section */

header {
  background-color: var(--white-backgroung-header);
}

header > .container,
nav,
.navigation-list,
address {
  display: flex;
} 

header {
  border-bottom: 1px solid var(--center-border);
  padding-top: 24px;
  padding-bottom: 25px;
}

header > .container {
  justify-content: space-between;
  align-items: center;
  }

.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--black-logo-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.web {
  color: var(--blue-logo-color-header);
}

.navigation-list {
  margin-left: 43px;
  align-items: center;
}

.navigation-title {
  color: var(--black-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;

  margin-left: 50px;
}

.active-title {
  color: var(--blue-logo-color-header);
}

.address-title:last-child {
  padding-left: 50px;
}

.navigation-title:hover {
  color: var(--blue-logo-color-header);
}

.navigation-title:focus {
  color: var(--blue-logo-color-header);
}

.address-title {
  color: var(--grey-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.address-title:hover {
  color: var(--blue-logo-color-header);
}

.address-title:focus {
  color: var(--blue-logo-color-header);
}

/* hero */

.hero-section {
  background-color: var(--grey-background-hero);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-section > .container {
  
}

.hero-title {
  color: var(--white-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding-bottom: 30px;
}

.order-btn-container {
  display: flex;
  justify-content: center;
}

.order-btn {
  width: 200px;
  height: 50px;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--blue-button);

  color: var(--white-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

/* .order-btn:hover,
.order-btn:focus,
.order-btn:active {
  color: var(--white-text);
} */

/* features section */

.features-section {
  background-color: var(--white-backgroung-header);
    padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
}

.feature-list > li {
  margin-right: 30px;
  width: calc(100% / 4);
}

.feature-list > li:last-child {
  margin-right: 0px;
}

.feature-title {
  color: var(--black-text);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.feature-description {
  color: var(--grey-text);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 190%;
  letter-spacing: 0.03em;
}

/* work areas */



.work-areas {
  padding-bottom: 94px;
}

.section-second-title {
  color: var(--black-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.images-list {
  display: flex;
  justify-content: space-between;
}

/* team section */

.team-section {
  background-color: var(--light-grey-section-color);
    padding-top: 94px;
  padding-bottom: 94px;
}

.team-card-list {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;
}

.item { 
  background-color: var(--white-backgroung-header);
  box-shadow: var(--card-shadow);
  border-radius: 4px;
}

.card-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.employee-name {
  color: var(--black-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.job-title {
  color: var(--grey-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 10px;
}

/* footer */

.footer-section {
  background-color: var(--grey-background-hero);
    padding-top: 60px;
  padding-bottom: 60px;
}


.logo-footer {
  font-family: 'Raleway', sans-serif;
  color: var(--white-text);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 20px;
}

.logo-footer:hover {
  text-decoration: underline var(--blue-logo-color-header);
}

.web-footer {
  color: var(--blue-logo-color-header);
}

.address-footer {
  display: flex;
  flex-direction: column;
}

.location {
  color: var(--white-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.mail-tel {
  color: var(--white-text-tr);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-top: 9px;
}

/* page PORTFOLIO */

.portfolio-main-section {
  padding: 94px 0;
}

.sort-btn-container {
  margin-bottom: 50px;
}


.sort-btn-list {
  display: flex;
  justify-content: center;

}

.sort-btn {
  padding: 6px 22px;
  
  border: none;
  border-radius: 4px;
  background-color: var(--light-grey-section-color);
  color: var(--black-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.sort-btn-list > li {
margin-left: 8px;
}

.sort-btn-list >li:first-child {
  margin-left: 0px;
}

.sort-btn:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--blue-button);
  color: var(--white-text);
}


.list-title-container > h2 {
  color: var(--black-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.list-title-container > h3 {
  color: var(--grey-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* DELETE THIS */
/* section {
  outline: 2px solid red;
} */

.projects {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1*var(--standart-margin));
  margin-right: calc(-1*var(--standart-margin));
}

.projects > li {
  flex-basis: calc(100% / 3-var(--standart-margin)));
  
  margin-top: var(--standart-margin);
  margin-right: var(--standart-margin);
}

.list-title-container {
  padding: 20px 24px;
  border: 1px solid var(--card-outline);
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
